@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden; /* запрещаем скролл страницы */
}

:root {
  --bg: #ffffff;
  --fg: #111111;
  --surface: #f4f4f4;
  --accent: #ef3124;
}

.dark {
  --bg: #0a0a0a;
  --fg: #f1f1f1;
  --surface: #1c1c1c;
  --accent: #ef3124;
}

body {
  @apply font-sans;
  background-color: var(--bg);
  color: var(--fg);
}
